@model Blog.Models.Article

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Content" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedTime" class="form-control" />
                <span asp-validation-for="CreatedTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedUserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedUserId" class="form-control" />
                <span asp-validation-for="CreatedUserId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifyTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifyTime" class="form-control" />
                <span asp-validation-for="ModifyTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifyUserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifyUserId" class="form-control" />
                <span asp-validation-for="ModifyUserId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Summary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
</body>
</html>
